.ReactModal__Overlay--after-open{
  position: relative;
}
.ReactModal__Content--after-open {
  width: 400px;
  height: 405px;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}